body {
    display: flex;
    justify-content: center;
    font-family: "Fira Code";
}
h2 {
    font-size: 1rem;
    margin-bottom: 0;
}
h3 {
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0;
}
select {
    width: 45%;
    font-family: "Fira Code";
}
#container {
    width: 408px;
}
main#targetContainer {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
titles#titlesContainer {
    width: 400px;
    height: 50px;
    border: 4px solid white;
}
titles#titlesContainer a {
    display: block;
    width: 400px;
    color: #191919;
    text-decoration: dotted;
    transition: color 500ms;
}
titles#titlesContainer a:hover {
    text-decoration: underline;
    color: black;
}
achievements#achievementsContainer {
    width: 400px;
    height: 25px;
    border: 4px solid white;
}
target#imgContainer {
    width: 400px;
    height: 300px;
    border: 4px solid white;
}
section#bodyContainer {
    width: 400px;
    height: 300px;
    border: 4px solid white;
}
section#bodyContainer object {
    width: 400px;
    height: 100%;
}
code#codeContainer {
    width: 400px;
    border: 4px solid white;
}
code#codeContainer p {
    width: 392px;
    margin: 0;
    padding: 4px;
    color: white;
    background: #191919;
    white-space: pre-wrap;
    font-family: "Fira Code";
    font-size: 0.9rem;
}
unmet#unmetContainer {
    width: 400px;
    font-size: 0.8rem;
}
unmet#unmetContainer a {
    color: #191919;
    text-decoration: dotted;
    display: block;
    transition: color 500ms;
}
unmet#unmetContainer a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}
